# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
webroot/res/*
webroot/view/*
!webroot/view/404.html

# Build
build
dist

# Distribution
dist
dist-ssr
out
logs
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.pnpm-debug.log
git_push.sh
.editconfig
makeimage.sh
sync-server.sh
tutorial.db
nginx/
fe_dist/
test/results
nohup.out
1-getting-started/
2-advanced-examples/
graph.db
testproject