/**
 * [button] 按钮自定义样式
 */
button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  outline: none;
  -webkit-animation: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
button:hover {
  background: #FF5555;
}
button:active {
  background: #D50000;
}
button.normal {
  width: 180px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
button.submit {
  width: 335px;
  height: 45px;
  line-height: 45px;
  color: #fff;
}
