@background-color:#000;
@height:65px;

.widget-header{
	height:@height;
	line-height: @height;
	width:100%;
	background:@background-color;

	.logo{
		font-size:24px;
		padding-left:20px;
		color:#fff;
		float:left;

		.xlogo{
			em{
				font-style: normal;
  				color: red;
			}
		}
	}
	.user-info{
		float: right;
  		padding-right: 20px;

  		a{
  			color:#666;
  		}
	}
}