<!DOCTYPE html>
<html>
	<head> 
	    <title>xpluse</title> 
	    <meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
		<meta content="yes" name="apple-mobile-web-app-capable">     
		<meta content="black" name="apple-mobile-web-app-status-bar-style">     
		<meta content="telephone=no" name="format-detection">

		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=7,8,9,10,11" />
		<meta content="xplues by dbxiao" name="keywords"/>
		<script type="text/javascript" src="../static/js/lib/sea.js"></script>
		<link rel="stylesheet" href="../static/css/import/base-all.css"/>
		<script type="text/javascript" src="../static/js/import/base-all.js"></script>
		<!--[if lt IE 9]>
		    <script type="text/javascript" src="../static/js/lib/html5.js"></script>
		<![endif]-->
	</head> 
	<body>
	</body>
</html>