@color:#000;
body{
	background: @color;
}

.main{
	margin: 66px;
	width: 218px;
	margin:20% auto 0 auto; 

	.text{
		width:218px;
		height:66px;
		margin:0 auto;
		background: url(images/logo.png) no-repeat;
		text-indent: -9999em;
	}
} 