<link rel="import" href="../../../common/layout/header.html?__inline">
<link rel="stylesheet" href="./home.css" />
 
	<!-- content --> 
	<section class="main">
		<div class="text">
			<span class="red">x</span>stack
		</div>
		<div class="desc"><%= body.hello %></div> 
		<div class="desc"><%= body.title %></div> 
		<div class="desc"><%= body.desc %></div> 
		<div class="desc"><%= body.by %></div> 
	</section> 
	<!-- content end -->

<script type="text/javascript" src="./home.js"></script> 
<link rel="import" href="../../../common/layout/footer.html?__inline">