/*select 部分样式*/
.ui-select{
    position: relative;
    width:200px;
    height:29px;
    float:left;
    margin:11px 0 0 20px;
    cursor:pointer;
    z-index: 9999;
}
.ui-select-btn{
    position: absolute;
    width:170px;
    height:29px;
    line-height:29px;
    padding:0 26px 0 4px;
    border-left:1px solid #cccccc;
    background:url(/static/images/ico.gif) no-repeat -160px -28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-select-list{
    position: absolute;
    width: 199px;
    top:0px;
    left:0px;
    z-index:100;
    border:1px solid #cccccc;
    padding-top:28px;
}
.ui-select-list a{
    position: relative;
    display:block;
    height:28px;
    line-height:28px;
    background-color:#ffffff;
}
.ui-select-list a:hover,.ui-select-list a:hover.select{
    background-color:#E5F4FE;
}
.ui-select-list .item-cur{
    position: absolute;
    top:6px;
    left:6px;
    width:10px;
    height:10px;
}
.ui-select-list .off{
    background-color: #999999;
    border: 3px solid #ECECEC;
    border-radius: 50%;
}
.ui-select-list .on{
    background-color: #149700;
    border: 3px solid #DDF0DA;
    border-radius: 50%;
}
.ui-select-list .null{
    display:none;
}
.ui-select-list .item-text{
    position: absolute;
    left: 28px;
    height: 28px;
    line-height: 28px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-select-list a.select{
    background-color: #ECECEC;
}
.unfold .ui-select-btn{
    background:url(/static/images/ico.gif) no-repeat -160px -0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.unfold .ui-select-list{
    display: none;
}
