<% include ../../../common/layout/header.html %>
<link type="text/css" rel="stylesheet" href="/static/pc/home/page/home/home.css?t=201581319745">
<!-- content --> 
	<section class="main">
		<div class="text">
			<span class="red">x</span>stack
		</div>
		<div class="desc"><%= body.hello %></div> 
		<div class="desc"><%= body.title %></div> 
		<div class="desc"><%= body.desc %></div> 
		<div class="desc"><%= body.by %></div> 
	</section> 
	<!-- content end -->

<script type="text/javascript" charset="utf-8" src="/static/pc/home/page/home/home.js?t=201581319745"></script>
<% include ../../../common/layout/footer.html %>