<% include ../../../common/layout/base.html %>
<link rel="stylesheet" href="/res/pc/home/page/home/home.css?t=201614174634" />
 
	<!-- content -->
	<section class="main">  
		<div class="text">  
			<span class="red">x</span>stack
		</div> 
		<div class="desc"><%= body.hello %></div> 
		<div class="desc"><%= body.title %></div> 
		<div class="desc"><%= body.desc %></div> 
		<div class="desc"><%= body.by %></div> 
	</section> 
	<!-- content end -->

<script type="text/javascript" src="/res/pc/home/page/home/home.js?t=201614174634"></script> 
<% include ../../../common/layout/footer.html %>